@use "../../functions/functions";
@use "../../mixins/mixins";
@use "../../variables/variables";

body {
  font-family: variables.$font-montserrat;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.5px;
  color: variables.$color-text;

  .scroll-lock & {
    overflow: hidden;

    &::after {
      opacity: 0.4;
      visibility: inherit;
    }
  }

  &::after {
    content: "";
    position: fixed;
    inset: 0;
    z-index: 125;
    background-color: variables.$color-text-2;
    opacity: 0;
    visibility: hidden;

    @include mixins.prefers-reduced-motion {
      transition-property: opacity, visibility;
      transition-duration: 0.3s;
    }
  }
}
