@use "../../functions/functions";
@use "../../mixins/mixins";
@use "../../variables/variables";

.button {
  --outline-color: #{variables.$color-hover};

  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 100%;
  min-block-size: 44px;
  padding: 5px;
  font-weight: 500;
  font-size: 13px;
  text-transform: uppercase;
  text-align: center;
  color: variables.$color-white;
  background-color: variables.$color-hover;
  border-radius: 5px;

  @include mixins.prefers-reduced-motion {
    transition-property: background-color;
    transition-duration: 0.3s;
  }

  @include mixins.hover {
    background-color: variables.$color-text-2;
  }
}
