@use "../../functions/functions";
@use "../../mixins/mixins";
@use "../../variables/variables";

.text {
  .wrapper:not(.wrapper--grid) & {
    padding-block: 20px;
  }

  .wrapper--grid & {
    @media (max-width: 992px) {
      padding-block: 20px;
    }
  }

  // .text__container
  &__container {
    .wrapper--grid & {
      @media (min-width: #{992 + 0.1px}) {
        padding-inline: 0;
      }
    }
  }

  // .text__header
  &__header {
    margin-block-end: 30px;

    > *:last-child {
      margin-block-end: 0;
    }
  }

  // .text__list
  &__list {
    margin-block-end: 30px;
  }

  // .text__title
  &__title {
    font-weight: 700;
    font-size: 18px;
    line-height: calc(20 / 18);
    text-align: center;
    text-decoration: underline;
  }

  // .text__inner
  &__inner {
    text-align: justify;

    > * {
      &:not(:last-child) {
        margin-block-end: 0.5rem;
      }
    }

    div {
      &:not(:last-child) {
        margin-block-end: 3rem;
      }

      > * {
        &:not(:last-child) {
          margin-block-end: 0.5rem;
        }
      }

      > ol {
        > li {
          &:not(:last-child) {
            margin-block-end: 2rem;
          }
        }
      }
    }

    h3 {
      font-weight: 700;
      font-size: 20px;
      text-align: start;
    }

    mark {
      font-weight: 700;
      color: variables.$color-mark;
    }

    ul {
      &:not([data-no-list]) {
        padding-inline-start: 2rem;
        list-style-type: disc;
      }

      &[data-margin] {
        li {
          &:not(:last-child) {
            margin-block-end: 0.5rem;
          }
        }
      }
    }

    a {
      color: variables.$color-link;

      @include mixins.prefers-reduced-motion {
        transition-property: color;
        transition-duration: 0.3s;
      }

      @include mixins.hover {
        color: variables.$color-hover;
      }
    }

    ol {
      counter-reset: item;

      &:not([data-no-list]) {
        padding-inline-start: 1rem;
      }

      &[data-no-list] {
        > li {
          &::before {
            position: absolute;
            inline-size: 1px;
            block-size: 1px;
            margin: -1px;
            padding: 0;
            clip-path: inset(100%);
            clip: rect(0 0 0 0);
            overflow: hidden;
            white-space: nowrap;
            border: none;
            outline: none;
            outline-offset: 0;
          }
        }
      }

      > li {
        &::before {
          content: counters(item, ".") ". ";
          counter-increment: item;
        }
      }
    }

    h4 {
      margin-block-end: 0.5rem;
      font-weight: 700;
      font-size: 18px;
      text-align: start;
    }
  }

  // .text__link
  &__link {
    --outline-color: #{variables.$color-hover};

    display: flex;
    justify-content: center;
    align-items: center;
    inline-size: fit-content;
    min-block-size: 42px;
    margin-block-start: 30px;
    margin-inline: auto;
    padding-inline: 24px;
    font-weight: 500;
    font-size: 13px;
    line-height: 1;
    text-transform: uppercase;
    text-align: center;
    color: variables.$color-white;
    background-color: variables.$color-hover;
    border-radius: 5px;

    @include mixins.prefers-reduced-motion {
      transition-property: background-color;
      transition-duration: 0.3s;
    }

    @include mixins.hover {
      background-color: variables.$color-text-2;
    }
  }
}

.text-list {
  text-align: end;

  // .text-list__item
  &__item {
    &:not(:last-child) {
      margin-block-end: 10px;
    }
  }
}
