$color-white: #fff;
$color-black: #000;

$color-text: #666;
$color-logo: #ed1c24;
$color-bin: #212121;
$color-bg: #222;

$color-header-top-bg: #3a4d59;
$color-header-top-hover: #ddd;
$color-header-top-modal-color: #222;
$color-header-top-modal-border: #f2f2f2;

$color-header-main-color: #222;
$color-header-main-hover: #3a4d59;
$color-header-main-border: #ddd;
$color-header-input: #444;

$color-header-bottom-border: #ddd;
$color-header-bottom-color: #222;
$color-header-bottom-hover: #3a4d59;
$color-header-bottom-dropdown-bg: whitesmoke;

$color-nav-border: #ededed;
$color-nav-hover: #3a4d59;

$color-up-bg: #3a4d59;
$color-up-hover: #222;
